<div style="height:100%;margin-top:10px;margin-bottom:10px;width:20%;float:right;">
    <ul>
        <li>c#</li>
        <li>java</li>
        <li>python</li>
        <li>javascript</li>
    </ul>

</div>
