
@{
    ViewBag.Title = "Index";
}
@section style{
    <style type="text/css">
        body{
            background-color:yellow !important;
        }
    </style>
    }

<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sodales nisl at rhoncus congue. Aliquam et felis tortor. Vivamus ac lectus sit amet eros facilisis malesuada aliquet sed est. In egestas auctor metus, sit amet iaculis purus auctor semper. Aliquam erat volutpat. Duis et purus id risus egestas fringilla. Nullam ultricies sagittis mauris quis pulvinar. Curabitur et luctus mi, nec lacinia libero. Donec iaculis enim vitae nisi ultricies, sit amet rutrum magna mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</div>

